
AnchorPane
{
    -fx-background-color: lightblue;
}

Label
{
    -fx-text-fill: black;
}

#rightBox
{
    -fx-background-color: #000033;
}

#sliderText
{
    -fx-text-fill: whitesmoke;
}

Button
{
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
}

#tableColumn
{
    -fx-background-color: whitesmoke;
    -fx-text-fill: black; 
}

ChoiceBox
{
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
}
